@import "themes/mocha.css";

* {
    font-family: FiraCode Nerd Font;
    font-weight: 400;
    font-size: 12px;
    border-radius: 7px;
}

window#waybar {
    background-color: alpha(@surface0, 0);
    color: @text;
    border-radius: 0px;
    transition-property: background-color;
    transition-duration: .5s;
}

tooltip {
    background: @base;
    border-radius: 7px;
}

window#waybar.termite {
    background-color: @surface0;
}

window#waybar.chromium {
    background-color: @crust;
    border: none;
}

button {
    box-shadow: inset 0 3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

/*#group-group-power:hover,*/
#language:hover,
#custom-gpu-usage:hover,
#pulseaudio:hover,
#cava:hover,
#temperature:hover,
#clock:hover,
#custom-gpt:hover,
#custom-weather:hover,
#custom-nix-updates:hover,
#custom-power:hover,
#battery:hover,
#network:hover,
#backlight:hover,
#custom-swaync:hover,
#idle_inhibitor:hover,
#custom-notification:hover {
    background-color: @mantle;
}

#workspaces button {
    padding: 0 5px;
    color: @red;
    background-color: transparent;
}

#workspaces button:hover {
    background: alpha(@crust, 0.3);
    border-radius: 7px;
}

#workspaces button.focused {
    background-color: alpha(@crust, 0.2);
    box-shadow: inset 0 0px @text;
}

#workspaces button.urgent {
    background-color: @red;
	border-radius: 7px;
}

#workspaces button.visible {
    background: alpha(@crust, 0.5);
    border-radius: 7px;
}

#mode {
    background-color: @overlay1;
    box-shadow: inset 0 0px @text;
    background: alpha(@crust, 0.3);
    color: @crust;
    padding: 1px 10px;
    margin-top: 5px;
}

#language,
#custom-gpu-usage,
#group-group-power,
#custom-nix-updates,
#clock,
#battery,
#cpu,
#disk,
#custom-swaync,
#backlight,
#pulseaudio,
#cava,
#temperature,
#group-power,
#network,
#custom-notification,
#wireplumber,
#tray,
#mode,
#custom-weather,
#idle_inhibitor,
#power-profiles-daemon {
    background: @base;
    padding: 1px 10px;
    margin-top: 5px;
}

#window,
#workspaces {
    background: @base;
    color: @rosewater;
    padding: 1px;
    margin-top: 5px;
}

#workspaces button.active {
    color: @green;
}

#clock {
    color: @red;
    margin-top: 5px;
    margin-right: 5px;
}

#custom-weather {
    color: @sapphire;
    padding: 1px 6px 1px 8px;
}

#custom-power {
    color: @mauve;
    background-color: @base;
    margin-right: 5px;
    margin-top:5px;
    padding: 1px 5px 1px 2px;
}

#battery {
    color: @mauve;
}

#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background: @base;
        color: @crust;
    }
}

#battery.critical:not(.charging) {
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
    color: @crust;
}

#cpu {
    color: @yellow;
}

#disk {
    background: @base;
}

#backlight {
    color: @green;
}

#network {
    color: @green;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @sky;
}

#cava {
    color: @yellow;
}

#pulseaudio.muted {
    color: @teal;
}

#pulseaudio.microphone {
    color: @mauve;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background: @base;
    color: @blue;
}

#idle_inhibitor.activated {
    background: @base;
    color: @blue;
}

#language {
    /*background: @teal;*/
    color: @maroon;
}

#keyboard-state {
    background: @green;
    color: @crust;
}

#keyboard-state > label.locked {
    background: @base;
}

#privacy-item {
    color: @text;
}

#privacy-item.screenshare {
    background-color: @peach;
}

#privacy-item.audio-in {
    background-color: @green;
}

#privacy-item.audio-out {
    background-color: @blue;
}

#custom-nix-updates {
    color: @sapphire;
}

#custom-gpu-usage {
    color: @green;
}
